backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.0
certifi==2016.2.28
cffi==1.7.0
cryptography==1.4
dictns==1.4
docker-compose==1.7.1
docker-py==1.9.0rc2
dockerpty==0.4.1
docopt==0.6.2
enum34==1.1.6
functools32==3.2.3.post2
idna==2.1
ipaddress==1.0.16
jsonschema==2.5.1
ndg-httpsclient==0.4.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==16.0.0
PyYAML==3.11
requests==2.7.0
six==1.10.0
texttable==0.8.4
urllib3==1.16
websocket-client==0.37.0
